<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/static/home.js"></script>
</head>
<body>
<div class = "header">
    <a href="/home"><img src="static/icons/dino.jpg" alt="logo" class="logo"/></a>
    <h1 id="k">Francis, el asistente de curso</h1>
    <div id="cuenta">
      <img id="logged-pic" class="mx-auto d-block"  width="70" height="70" src={{ current_user.img_src }}>
        <div class="dropdown">
            <span id="usr"><h2>{{ current_user.username }}</h2></span>
            <div class="dropdown-content">
                <a href="/profile"><h5>Perfil</h5></a>
                <a  href="/logout"><h5>Logout</h5></a>
          </div>
        </div>
    </div>
</div>
    <h1>Guiones de {{ curso }}</h1>
<form action="/cargar?parameter={{ curso }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="myfile" /> <br />
         <input type="submit" name="submit" value="Cargar" />
</form>
    {% if guiones %}
        <table class="table table-bordered">
        {% for guion in guiones %}
            <tr class="table-secondary">
                <td><center><a href="#"value={{ guion }}>{{ guion }}</a></center></td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}
</body>
</html>