<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "header">
    <img src="static/icons/dino.jpg" alt="logo" class="logo"/>
    <h1 id="k">Francis, el asistente de curso</h1>
</div>
     <span class="buttons">
        <a href="/">Home</a>
        <a href="/cursos">Cursos</a>
    </span>
<form action="/cargar" method="POST" enctype="multipart/form-data">
        <input type="file" name="myfile" /> <br />
         <input type="submit" name="submit" value="Cargar" />
</form>

<div>
    <h1>Cursos</h1>
<form action="/crear-curso" method="POST" enctype="multipart/form-data">
        <input type="text" name="curso" placeholder="Nombre Curso" /> <br />
         <input type="submit" name="submit" value="Cargar" />
</form>
</div>
</body>
</html>