<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Entrar</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
<div class = "header">
    <img src="static/icons/dino.jpg" alt="logo" class="logo"/>
    <h1 id="k">Francis, el asistente de curso</h1>
</div>
<br>
    <div id="key-request" align="center">
        <h1 id="titulo">Ingrese BOT API Key</h1>
        <br>
        <form id="bot-key" action="/home" method="post">
            <input type="text" placeholder="API Key..." id="key" name="key"><br><br></a>
            <input type="submit" id="btn" value="Submit"><br><br>
        </form>
        <br>
    </div>
</body>
</html>