<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "header">
    <img src="static/icons/dino.jpg" alt="logo" class="logo"/>
    <h1>Francis, el asistente de curso</h1>
</div>
<nav>
     <span class="buttons">
        <a href="/">Home</a>
        <a href="/cursos">Cursos</a>
    </span>
</nav>
<form action="/descargar" method="POST" enctype="multipart/form-data">
    <input type="file" name="data_file" /> <br />
    <input type="submit" name="submit" value="Descargar Archivo" />
</form>
</body>
</html>