<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "header">
    <img src="static/icons/dino.jpg" alt="logo" class="logo"/>
    <h1 id="k">Francis, el asistente de curso</h1>
</div>
<br><br>
    <div class="container" id="login">
      <form method="POST" action="/login">
        <h2>Bienvenido!</h2><br>
        <h3>Ingrese a su cuenta</h3>
          <input type="text" placeholder="Usuario" id="username" name="username"><br><br>
          <input type="password" placeholder="Contraseña" id="password" name="password"><br><br>
          <a><input type="checkbox" id="remember" name="remember" value="Recordarme">Recordarme</a>
          <input type="submit" class="btn" value="Login"><br><br>
      </form>
        Usuario Nuevo?<a href="/register">Regístrate</a>
    </div> <!-- /container -->
</body>
</html>