<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi Perfil</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "header">
    <a href="/home"><img src="static/icons/dino.jpg" alt="logo" class="logo"/></a>
    <h1 id="k">Francis, el asistente de curso</h1>
    <div id="cuenta">
      <img id="logged-pic" class="mx-auto d-block"  width="70" height="70" src={{ current_user.img_src }}>
        <div class="dropdown">
            <span id="usr"><h2>{{ current_user.username }}</h2></span>
            <div class="dropdown-content">
                <a href="/profile"><h3>Perfil</h3></a>
            <a  href="/account"><h3>Ajustes</h3></a>
                <a  href="/logout"><h3>Logout</h3></a>
          </div>
        </div>
    </div>
</div>
    <div class="content-section">
        <h3>Mis datos</h3>
        <form method="POST" action="/account" enctype="multipart/form-data">
                    <input type="text" id="username" name="username" value={{ current_user.username }}>
                    <input type="email" id="email" name="email" value= {{ current_user.email }}>
                    <input type="file" id="img" name="img" value={{ current_user.img_src }}>
                    <input type="submit"  id="btn" value="Actualizar">
        </form>
    </div>
</body>
</html>