<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class = "header">
    <img src="static/icons/dino.jpg" alt="logo" class="logo"/>
    <h1 id="k">Francis, el asistente de curso</h1>
</div>
<br><br>
    <div class="container" id="login">
      <form method="POST" action="/signup">
        <h2>Conocé a Francis!</h2><br>
        <h3>Hazte una cuenta</h3>
          <input type="text" placeholder="Usuario" id="username" name="username"><br><br>
          <input type="email" placeholder="Correo" id="email" name="email"><br><br>
          <input type="password" placeholder="Contraseña" id="password" name="password"><br><br>
          <input type="text" placeholder="Token del Bot" id="bot_token" name="bot_token"><br><br>
          <input type="submit" id="btn" value="Registrarme"><br><br>
      </form>
    </div> <!-- /container -->
</body>
</html>
