<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cursos</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/static/home.js"></script>
</head>
<body>
<div class = "header">
    <a href="/home"><img src="static/icons/dino.jpg" alt="logo" class="logo"/></a>
    <h1 id="k">Francis, el asistente de curso</h1>
    <div id="cuenta">
      <img id="logged-pic" class="mx-auto d-block"  width="70" height="70" src={{ current_user.img_src }}>
        <div class="dropdown">
            <span id="usr"><h2>{{ current_user.username }}</h2></span>
            <div class="dropdown-content">
                <a href="/profile"><h5>Perfil</h5></a>
                <a  href="/logout"><h5>Logout</h5></a>
          </div>
        </div>
    </div>
</div>
<div id="nav">
    <ul>
  <li><a href="/home">Inicio</a></li>
  <li><a class="active" href="/show-cursos">Cursos</a></li>
  <li><a href="/show-guiones">Guiones</a></li>
  <li><a href="/log">Log</a></li>
</ul>
</div>
<form action="/cursos" method="POST" enctype="multipart/form-data">
    <input type="text" name="id" placeholder="Id" />
        <input type="text" name="nombre" placeholder="Nombre del Curso" />
         <input id = "btn" type="submit" name="bsubmit" value="Actualizar Curso" />
    <input id = "btnC" type="submit" name="bsubmit" value="Crear Curso" />
    <input id = "btnB" type="submit" name="bsubmit" value="Borrar Curso" />
</form>
<br><br>
<table id="cursos" align="center">
  <tr>
    <th>Id</th>
    <th>Nombre del Curso</th>
  </tr>
  {%for curso in cursos%}

<tr>
    <td>{{curso.id}}</td>
    <td>{{curso.curso}}</td>

{%endfor%}

</tr>
</table>

</body>
</html>