<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Guiones</title>
    <link rel='stylesheet' type='text/css' href='/static/style.css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="/static/home.js"></script>

</head>
<body>
<div class = "header">
    <a href="/home"><img src="static/icons/dino.jpg" alt="logo" class="logo"/></a>
    <h1 id="k">Francis, el asistente de curso</h1>
    <div id="cuenta">
      <img id="logged-pic" class="mx-auto d-block"  width="70" height="70" src={{ current_user.img_src }}>
        <div class="dropdown">
            <span id="usr"><h2>{{ current_user.username }}</h2></span>
            <div class="dropdown-content">
                <a href="/profile"><h5>Perfil</h5></a>
                <a  href="/logout"><h5>Logout</h5></a>
          </div>
        </div>
    </div>
</div>
<div id="nav">
    <ul>
  <li><a href="/home">Inicio</a></li>
  <li><a href="/show-cursos">Cursos</a></li>
  <li><a class="active" href="/show-guiones">Guiones</a></li>
    <li><a href="/grupos">Grupos</a></li>
     <li><a href="/imagenes">Imagenes</a></li>
    <li><a href="/documentos">Documentos</a></li>
    <li><a href="/stickers">Stickers</a></li>
  <li><a href="/log">Log</a></li>
</ul>
</div>
<form action="/actualizar-guion" method="POST" enctype="multipart/form-data">
    <input type="text" name="id" placeholder="Id" />
        <input type="text" name="tema" placeholder="Tema" />
    <input type="text" name="contexto" placeholder="Contexto" />
    <input type="text" name="respuesta" placeholder="Respuesta" />
    <input type="text" name="sticker" placeholder="Sticker" />
    <input type="text" name="imagen" placeholder="Imagen" />
    <input type="text" name="fecha_envio" placeholder="Fecha de Envío" /><br>
    <input type="text" name="documento" placeholder="Documento" />
    <input type="text" name="grupo_id" placeholder="GrupoID" />
         <input id = "btn" type="submit" name="submit" value="Actualizar Registro" />
</form>
<br><br>
<table id="cursos" align="center">
  <tr>
      <th>Id</th>
    <th>Tema</th>
    <th>Contexto</th>
      <th>Respuesta</th>
      <th>Sticker</th>
      <th>Imagen</th>
      <th>Documento</th>
      <th>GrupoID</th>
      <th>Fecha de envío</th>

  </tr>
  {%for data in guiones%}

<tr>
    <td>{{data.id}}</td>
    <td>{{data.tema}}</td>
    <td>{{data.contexto}}</td>
    <td>{{data.respuesta}}</td>
    <td>{{data.sticker}}</td>
    <td>{{data.imagen}}</td>
    <td>{{data.documento}}</td>
    <td>{{data.grupo_id}}</td>
    <td>{{data.fecha_envio}}</td>

{%endfor%}

</tr>
</table>
<br />
</body>
</html>