.header img {
  float: left;
  width: 70px;
  height: 70px;
  margin-top: -15px;
}
.header {
  background-color: rgba(17, 37, 102, 0.829);
  text-decoration-color: white;
  padding: 30px 10px 5px  5px;
  top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon {
    padding: 10px;
    background: rgba(17, 37, 102, 0.829);
    min-width: 50px;
    text-align: center;
  }
#k{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-indent: 30px;
}
#key-request{
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titulo{
   color:rgba(17, 37, 102, 0.829);
}
#btn{
    background-color: rgba(17, 37, 102, 0.829);
    text-decoration-color: white;
}