.header img {
  float: left;
  width: 70px;
  height: 70px;
  margin-top: -15px;
}
#logged-pic{
  border-radius: 50%;
  border-width: thick;
  display:inline-block;
}
#usr{
    display:inline-block;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#cuenta{
    float:right;
    position:relative;
    bottom:60px;
}
#arrw{
    position:relative;
    display:inline-block;
    bottom:60px;
}
.header {
  background-color: rgba(17, 37, 102, 0.829);
  text-decoration-color: white;
  padding: 30px 10px 5px  5px;
  top: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: static;
}
.icon {
    padding: 10px;
    background: rgba(17, 37, 102, 0.829);
    min-width: 50px;
    text-align: center;
  }
#k{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-indent: 30px;
}
#login{
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#titulo{
   color:rgba(17, 37, 102, 0.829);
}
#btn{
    background-color: rgba(17, 37, 102, 0.829);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: white;
    color:white;
}
#btn2{
    background-color: rgba(17, 37, 102, 0.829);
    text-decoration-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: white;
    color:white;
}
#btn3{
    background-color: rgba(17, 37, 102, 0.829);
    text-decoration-color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration-color: white;
    color:white;
}
#cursos-section{
    text-align:center;
    width:max-content;
    position:relative;
    left:10%;
}
#cursos-row{
padding:0px 30px 0px 30px;
}
nav {
    background-color:rgba(17, 37, 102, 0.829);
    border: 1px solid #dedede;
    border-radius: 4px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.055);
    color: #888;
    position:absolute;
    width:100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: rgba(17, 37, 102, 0.829);
}

#cursos {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size:10px;


}

#cursos td, #cursos th {
  border: 1px solid #ddd;
  padding: 5px;
}

#cursos tr:nth-child(even){background-color: #f2f2f2;}

#cursos tr:hover {background-color: #ddd;}

#cursos th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: rgba(17, 37, 102, 0.829);
  color: white;
}